data/** filter=lfs diff=lfs merge=lfs -text
data/**/* filter=lfs diff=lfs merge=lfs -text
telugu_data/** filter=lfs diff=lfs merge=lfs -text
telugu_data/**/* filter=lfs diff=lfs merge=lfs -text
*.all.1 filter=lfs diff=lfs merge=lfs -text
*.all.2 filter=lfs diff=lfs merge=lfs -text
*.all.3 filter=lfs diff=lfs merge=lfs -text
*.all.4 filter=lfs diff=lfs merge=lfs -text
*.all.5 filter=lfs diff=lfs merge=lfs -text
*.all.6 filter=lfs diff=lfs merge=lfs -text
*.all.7 filter=lfs diff=lfs merge=lfs -text
*.all.8 filter=lfs diff=lfs merge=lfs -text
*.all.9 filter=lfs diff=lfs merge=lfs -text
*.all.10 filter=lfs diff=lfs merge=lfs -text
*.counts filter=lfs diff=lfs merge=lfs -text
*.arpa.gz filter=lfs diff=lfs merge=lfs -text
