fsts.14.gz filter=lfs diff=lfs merge=lfs -text
fsts.1.gz filter=lfs diff=lfs merge=lfs -text
fsts.3.gz filter=lfs diff=lfs merge=lfs -text
fsts.4.gz filter=lfs diff=lfs merge=lfs -text
ali.13.gz filter=lfs diff=lfs merge=lfs -text
ali.14.gz filter=lfs diff=lfs merge=lfs -text
ali.7.gz filter=lfs diff=lfs merge=lfs -text
ali.8.gz filter=lfs diff=lfs merge=lfs -text
fsts.10.gz filter=lfs diff=lfs merge=lfs -text
ali.11.gz filter=lfs diff=lfs merge=lfs -text
ali.4.gz filter=lfs diff=lfs merge=lfs -text
fsts.5.gz filter=lfs diff=lfs merge=lfs -text
fsts.9.gz filter=lfs diff=lfs merge=lfs -text
ali.2.gz filter=lfs diff=lfs merge=lfs -text
fsts.15.gz filter=lfs diff=lfs merge=lfs -text
fsts.6.gz filter=lfs diff=lfs merge=lfs -text
ali.3.gz filter=lfs diff=lfs merge=lfs -text
ali.9.gz filter=lfs diff=lfs merge=lfs -text
fsts.12.gz filter=lfs diff=lfs merge=lfs -text
fsts.8.gz filter=lfs diff=lfs merge=lfs -text
ali.1.gz filter=lfs diff=lfs merge=lfs -text
ali.6.gz filter=lfs diff=lfs merge=lfs -text
fsts.11.gz filter=lfs diff=lfs merge=lfs -text
fsts.13.gz filter=lfs diff=lfs merge=lfs -text
fsts.2.gz filter=lfs diff=lfs merge=lfs -text
ali.10.gz filter=lfs diff=lfs merge=lfs -text
ali.5.gz filter=lfs diff=lfs merge=lfs -text
ali.12.gz filter=lfs diff=lfs merge=lfs -text
ali.15.gz filter=lfs diff=lfs merge=lfs -text
fsts.7.gz filter=lfs diff=lfs merge=lfs -text
trans.1 filter=lfs diff=lfs merge=lfs -text
trans.13 filter=lfs diff=lfs merge=lfs -text
trans.4 filter=lfs diff=lfs merge=lfs -text
trans.2 filter=lfs diff=lfs merge=lfs -text
trans.9 filter=lfs diff=lfs merge=lfs -text
trans.11 filter=lfs diff=lfs merge=lfs -text
trans.3 filter=lfs diff=lfs merge=lfs -text
trans.5 filter=lfs diff=lfs merge=lfs -text
trans.6 filter=lfs diff=lfs merge=lfs -text
trans.8 filter=lfs diff=lfs merge=lfs -text
trans.10 filter=lfs diff=lfs merge=lfs -text
trans.12 filter=lfs diff=lfs merge=lfs -text
trans.14 filter=lfs diff=lfs merge=lfs -text
trans.15 filter=lfs diff=lfs merge=lfs -text
trans.7 filter=lfs diff=lfs merge=lfs -text
